[submodule "Aspnet-core-additions"]
	path = Aspnet-core-additions
	url = https://github.com/shoter/Aspnet-core-additions.git
[submodule "C-Sharp-Common-Standard"]
	path = C-Sharp-Common-Standard
	url = https://github.com/shoter/C-Sharp-Common-Standard.git
