.dashboardComponent {
    .dayOverview {
        .stat {
            margin-bottom: 0.2rem;
            .text {
                margin-right: 0.4rem;
            }
            .value {

                font-weight: bold;
            }
        }
    }
}