@import "./weightAdd.scss";
@import "./ingredientAdd.scss";
@import "./IngredientIntakeAdd.scss";
@import "./exerciseAdd.scss";

.dashboard.adder
{
    display: grid;

    @include respond-to-only(tablet)
    {
        grid-template-columns: 1fr 1fr ;
    } 

    @include respond-to-only(mobile)
    {
        grid-template-columns: 1fr ;
        grid-column-gap: 0;
        grid-row-gap:1.5rem;
    }

    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}
