@import "../defines.scss";

.dashboard,.chart
{

    @include respond-to-only(tablet)
    {
        grid-template-rows: 1fr;
    } 

    @include respond-to-only(mobile)
    {
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap:1.5rem;
    }

    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}