$workBackgroundColor: rgb(55, 55, 55);
$workFontColor: rgb(212, 212, 212);

$backgroundColor: rgb(37,37,38);
$backgroundColorHover: rgb(42, 45, 46);
$backgroundColorActive: rgb(63, 63, 70);
$fontColor: rgb(204, 204,193);
$borderColor: rgb(69,69,69);